body {
    background-color: #d0bab3;
}

hr {
    border-style: none;    
    border-top-style: dotted;
    border-width: 10px;
    border-color: gray;
    width: 10%;
}

h1, h2 {
    color: #7C3E66;
}